/* 
    Created on : Feb 15, 2015, 4:33:13 PM
    Author     : Alex
*/

th {
    padding-left:10px;
    padding-right:10px;
    text-align: center;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
